* {
  box-sizing: border-box;
}   

page{
	width:500px;
	height:500px;
}

table#t01,th,td{
	width: 100%;
	border:1px solid black;
	border-collapse:collapse;
	
}
th,td{
	padding:15px;
	width:25%;
	
}
table#t01 tr:nth-child(even)
{
	background-color:#fff;
}
table#t01 tr:nth-child(odd)
{
	background-color:#eee;
}
/* Change color of the first row */
table#t01 tr:nth-child(1)
{
    color:#FFDB05;
	background-color:#007C41;
}
/* Change color of the second row */
table#t01 tr:nth-child(2)
{
    background-color:#555;
	color:white;

}
body {
  font-family: Arial;
  padding: 10px;
  background: transparent;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  color: #FFDB05;
  background: #007C41;
  width:65%;
  margin:auto;
  border-radius:25px 25px 0px 0px;
}

.header h1 {
  font-size: 30px;
}

.footer{
	padding: 30px;
	color: #FFDB05;
  background: #007C41;	
  width:65%;
  margin:auto;
  border-radius:0px 0px 25px 25px;
	
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  margin:auto;
  width:65%;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #FFDB05;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 65%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 35%;
  background-color: #f1f1f1;
  padding-left: 20px;
}


/* Add a card effect for articles */
.card {
	margin:auto;
	border-radius: 25px;
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 65%;
 

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
